body {
    height: 100vh;
    background-image: url('../img/money.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.invis {
    background-color: transparent;
}

input{
    text-align: center;
}

.form-group {
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
}

.ajust-top {
    margin-top: 15px;
}

.card-header{
    text-align:center;
    font-size: 20px;
}

.ajust-back {
    background-color: #ffffffde;
}

.table-fixed thead {
    width: 100%;
}

.table-fixed tbody {
    height: 31vh;
    overflow-y: auto;
    width: 80vh;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}

.table-fixed tbody td, .table-fixed thead > tr > th {
    float: left;
    border-bottom-width: 0;
}